<% provide(:title, "About") %>
<div id="page-content-wrapper">
  <div class="container-fluid">
    <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>
  </div>
  <!-- /.container-fluid -->
  <h1>About</h1>
  <p>
    I wanted to know the stories of the saints. I loved them so much that I wanted to share them with you too!
  </p>
</div>
<!-- /.page-content-wrapper -->

<%= render 'shared/side_menu_script' %>
