<% provide(:title, @user.name) %>
<%= render 'layouts/regular_sidebar' %>
<div id="page-content-wrapper">
  <%= render 'shared/menu_toggle' %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <%= @user.name %>
        </h1>
      </section>
    </aside>
  </div>
</div>
<!-- /.page-content-wrapper -->

<%= render 'shared/side_menu_script' %>
