<div id="page-wrapper">
  <%= render 'layouts/alerts' %>
  <div class="row">
    <div class="col-xl-12">
      <h1 class="page-header">
          All Saints
      </h1>
      <!-- /.page-header -->
    </div>
    <!-- /.col-xl-12 -->
  </div>
  <!-- /.row -->
  <% @saints.each do |saint| %>
    <%= link_to "#{saint.name}", saint %>
    <% if current_user && saint.published? %>
     - (Published)
    <% end %>
    <br>
  <% end %>
</div>
<!-- /.page-wrapper -->
