<div id="page-content-wrapper">
  <%= render 'layouts/alerts' %>
  <div class="container-fluid">
    <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <h1 class="page-header">
          All Saints
      </h1>
      <!-- /.page-header -->
    </div>
    <!-- /.col-xl-12 -->
  </div>
  <!-- /.row -->
  <% @saints.each do |saint| %>
    <%= link_to "#{saint.name}", saint %>
    <% if current_user && saint.published? %>
     - (Published)
    <% end %>
    <br>
  <% end %>
</div>
<!-- /.page-content-wrapper -->

<!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    