<div id="page-wrapper">
  <%= render 'layouts/alerts' %>
  <script src="//maps.google.com/maps/api/js?key=AIzaSyBcmPdtB-dm8x9VoI9MJfxC-cOlWlNSNH4 "></script>
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->

<div style='width: 100%;'>
  <div id="sidebar_builder" style='width: 100%; height: 600px;'></div>
</div>
<script>
handler = Gmaps.build('Google');
handler.buildMap({ 
  provider: {
    center: {lat: 41.9028, lng: 12.4964},
    zoom: 4
  },
  internal: { 
    id: 'sidebar_builder'
  }
}, function(){
  var json_array = [
    { lat: 40.4168, lng: -3.7038, name: 'St. María de la Purísima Salvat Romero', infowindow: 'St. María de la Purísima Salvat Romero - Born 2/20/1926, Madrid, Kingdom of Spain' },
    { lat: 45.4655, lng: 8.8850, name: 'St. Gianna Beretta Molla', infowindow: 'St. Gianna Beretta Molla - Born 10/4/1922, Magenta, Milan, Kingdom of Italy' },
    { lat: 48.4329, lng: 0.0913, name: 'St. Thérèse of Lisieux', infowindow: 'St. Thérèse of Lisieux - Born 1/2/1873, Alençon, Orne, France' },
    { lat: 49.8828, lng: 19.4940, name: 'Pope St. John Paul II', infowindow: 'Pope St. John Paul II - Born 5/18/1920, Wadowice, Republic of Poland' },
    { lat: 42.9469, lng: -4.1033 , name: 'St. Aniceto Adolfo', infowindow: 'St. Aniceto Adolfo - Born 10/4/1912, Celada Marlantes, Santander, Spain' },
    { lat: 42.3440, lng: -3.6969, name: 'St. Rafael Arnáiz Barón', infowindow: 'St. Rafael Arnáiz Barón - Born 4/9/1911, Burgos, Spain' },
    { lat: 41.9973, lng: 21.4280, name: 'St. Teresa of Calcutta', infowindow: 'St. Teresa of Calcutta - Born 8/26/1910, Üsküp, Kosovo Vilayet, Ottoman Empire' },
    { lat: 43.4618, lng: -3.8098, name: 'St. Augusto Andrés', infowindow: 'St. Augusto Andrés - Born 5/6/1910, Santander, Cantabria, Spain' },
    { lat: 42.1148, lng: -3.3123, name: 'St. Benjamín Julián', infowindow: 'St. Benjamín Julián - Born 10/27/1908, Jaramillo de la Fuente, Burgos, Spain' },
    { lat: 52.0280, lng: 18.9318, name: 'St. Faustina Kowalska', infowindow: 'St. Faustina Kowalska - Born 8/25/1905, Głogowiec, Łęczyca County, Poland' },
    { lat: 42.1361, lng: -3.3453, name: 'St. Victoriano Pío', infowindow: 'St. Victoriano Pío - Born 7/7/1905, San Millán de Lara, Burgos, Spain' },
    { lat: 42.6053, lng: -5.2604, name: 'St. Julián Alfredo', infowindow: 'St. Julián Alfredo - Born 12/24/1903, Cifuentes de Rueda, León, Spain' },
    { lat: 45.3912, lng: 7.6498, name: 'St. Callistus Caravario', infowindow: 'St. Callistus Caravario - Born 6/8/1903, Cuorgné, Turin, Italy' },
    { lat: 42.0361, lng: 0.1273, name: 'St. Josemaría Escrivá', infowindow: 'St. Josemaría Escrivá - Born 1/9/1902, Barbastro, Aragon, Spain' },
    { lat: 41.0670, lng: -2.645, name: 'St. Marciano José', infowindow: 'St. Marciano José - Born 11/15/1900, El Pedegral Pobo, Sigüenza, Spain' },
    { lat: 45.2614, lng: 9.0471, name: 'St. Richard Pampuri', infowindow: 'St. Richard Pampuri - Born 8/2/1897, Trivolzio, Pavia, Kingdom of Italy' },
    { lat: 51.5999, lng: 18.9388, name: 'St. Maximilian Kolbe', infowindow: 'St. Maximilian Kolbe - Born 1/8/1894, Zduńska Wola, Kingdom of Poland, Russian Empire' },
    { lat: 51.1069, lng: 17.0330, name: 'St. Teresa Benedicta of the Cross', infowindow: 'St. Teresa Benedicta of the Cross - Born 10/12/1891, Breslau, Germany' },
    { lat: 43.6487, lng: 13.0494, name: 'St. Maria Goretti', infowindow: 'St. Maria Goretti - Born 10/16/1890, Corinaldo, Province of Ancona, Marche, Kingdom of Italy' },
    { lat: 42.4019, lng: 1.1040, name: 'St. Jaime Hilario Barbal', infowindow: 'St. Jaime Hilario Barbal - Born 1/2/1889, Enviny, Lleida, Spain' },
    { lat: 45.4722, lng: 11.4466, name: 'St. Maria Bertilla Boscardin', infowindow: 'St. Maria Bertilla Boscardin - Born 10/6/1888, Brendola, Veneto, Italy' },
    { lat: 42.0253, lng: -3.7602, name: 'St. Cirilo Bertrán', infowindow: 'St. Cirilo Bertrán - Born 3/20/1888, Lerma, Burgos, Spain' },
    { lat: 41.1973, lng: 14.8478, name: 'Padre Pio', infowindow: 'Padre Pio - Born 5/25/1887, Pietrelcina, Benevento, Italy' },
    { lat: 43.0093, lng: -7.5587, name: 'St. Innocencio of Mary Immaculate', infowindow: 'St. Innocencio of Mary Immaculate - Born 3/10/1887, Santa Cecilia de Valle de Oro, Lugo, Spain' },
    { lat: 48.8507, lng: 11.6431, name: 'St. Anna Schäffer', infowindow: 'St. Anna Schäffer - Born 2/18/1882, Mindelstetten, Bavaria, German Empire' },
    { lat: 45.7056, lng: 9.4983, name: 'Pope St. John XXIII', infowindow: 'Pope St. John XXIII - Born 11/25/1881, Sotto il Monte, Bergamo, Kingdom of Italy' },
    { lat: 41.1296, lng: 14.7818, name: 'St. Giuseppe Moscati', infowindow: 'St. Giuseppe Moscati - Born 7/25/1880, Benevento, Italy' },
    { lat: 47.0326, lng: 2.653, name: 'St. Elizabeth of the Trinity', infowindow: 'St. Elizabeth of the Trinity - Born 7/18/1880, Avord, Farges-en-Septaine, France' },
    { lat: 43.8672, lng: 10.6035, name: 'St. Gemma Galgani', infowindow: 'St. Gemma Galgani - Born 3/12/1878, Camigliano, Capannori, Italy' },
    { lat: 10.3730, lng: 76.1671, name: 'St. Euphrasia Eluvathingal', infowindow: 'St. Euphrasia Eluvathingal - Born 10/17/1877, Kattoor, Kingdom of Cochin' },
    { lat: 42.3499, lng: 13.3976, name: 'St. Marianna Giuliani', infowindow: "St. Marianna Giuliani - Born 12/12/1875, L'Aquila, Italy" },
    { lat: 38.0963, lng: -3.6362, name: 'St. Pedro Poveda Castroverde', infowindow: 'St. Pedro Poveda Castroverde - Born 12/3/1874, Linares, Jaén, Spain' },
    { lat: 42.2950, lng: 13.4874, name: 'St. Cesidio Giacomantonio', infowindow: "St. Cesidio Giacomantonio - Born 8/30/1873, Fossa, L'Aquila, Italy" },
    { lat: 45.0060, lng: 9.1732, name: 'St. Luigi Versiglia', infowindow: 'St. Luigi Versiglia - Born 6/5/1873, Oliva Gessi, Pavia, Italy' },
    { lat: 50.9392, lng: 5.1612, name: 'St. Pauline Jeuris', infowindow: 'St. Pauline Jeuris - Born 12/28/1872, Herk-de-Stad, Limburg, Belgium' },
    { lat: 44.9563, lng: 8.9284, name: 'St. Luigi Orione', infowindow: 'St. Luigi Orione - Born 6/23/1872, Pontecurone, Alessandria, Kingdom of Italy' },
    { lat: 44.8946, lng: 11.6090, name: 'St. Clelia Nanetti', infowindow: 'St. Clelia Nanetti - Born 1/9/1872, Santa Maria Maddalena, Occhiobello, Rovigo, Italy' },
    { lat: 1.000, lng: 32.2500, name: 'St. Denis Ssebuggwawo', infowindow: 'St. Denis Ssebuggwawo - Born c. 1870, Kigoloba, Bulemezi, Buganda, Uganda' },
    { lat: 14.5524, lng: 24.8823, name: 'St. Josephine Bakhita', infowindow: 'St. Josephine Bakhita - Born c. 1869, Olgossa, Darfur, Sudan' },
    { lat: 45.4786, lng: 8.6933, name: 'St. Joseph Mary Gambaro', infowindow: 'St. Joseph Mary Gambaro - Born 8/7/1869, Galliate, Novara, Italy' },
    { lat: 47.9114, lng: 7.2092, name: 'St. Andrew Bauer', infowindow: 'St. Andrew Bauer - Born 11/26/1866, Guebwiller, Haut-Rhin, France' },
    { lat: 47.0260, lng: 4.8402, name: 'St. Mary Hermina Grivot', infowindow: 'St. Mary Hermina Grivot - Born 4/28/1866, Beune, France' },
    { lat: 47.1851, lng: -1.8595, name: 'St. Anne-Françoise Moreau', infowindow: 'St. Anne-Françoise Moreau - Born 4/9/1866, Rouans, Loire-Atlantique, France' },
    { lat: 51.3945, lng: 4.3346, name: 'St. Anne-Catherine Dierks', infowindow: 'St. Anne-Catherine Dierks - Born 3/8/1866, Ossendrecht, Noord Brabant, Netherlands' },
    { lat: 46.0055, lng: 11.1927, name: 'St. Pauline of the Agonizing Heart of Jesus', infowindow: 'St. Pauline of the Agonizing Heart of Jesus - Born 12/16/1865, Vigolo Vattaro, County of Tyrol, Austria-Hungary' },
    { lat: 48.2005, lng: 15.4000, name: 'St. Ursula Ledóchowska', infowindow: 'St. Ursula Ledóchowska - Born 4/17/1865, Loosdorf, Lower Austria, Austrian Empire' },
    { lat: 36.8212, lng: -2.8671, name: 'St. José María Rubio', infowindow: 'St. José María Rubio - Born 7/22/1864, Dalías, Almería, Spain' },
    { lat: 48.5437, lng: -3.3955, name: 'St. Jeanne-Marie Kerguin', infowindow: 'St. Jeanne-Marie Kerguin - Born 5/5/1864, Belle-Isle-en-Terre, Côte-d’Armor, France' },
    { lat: 42.1595, lng: 12.9625, name: 'St. Agostina Livia Pietrantoni', infowindow: 'St. Agostina Livia Pietrantoni - Born 3/27/1864, Pozzaglia Sabina, Rieti, Kingdom of Italy' },
    { lat: 41.0062, lng: 14.7768, name: 'St. Alberic Crescitelli', infowindow: 'St. Alberic Crescitelli - Born 6/30/1863, Altavilla Irpino, Avellino, Italy' },
    { lat: 0.9204, lng: 33.1460, name: 'St. Gonzaga Gonza', infowindow: 'St. Gonzaga Gonza - Born c. 1862, Bulamogi, Busoga, Uganda' },
    { lat: 49.9164, lng: 19.1520, name: 'St. Józef Bilczewski', infowindow: 'St. Józef Bilczewski - Born 4/26/1860, Wilamowice, Śląskie, Poland' },
    { lat: 0.0725, lng: 32.1328, name: 'St. Joseph Mukasa Balikuddembe', infowindow: 'St. Joseph Mukasa Balikuddembe - Born c. 1859, Mawokota, Buganda, Uganda' },
    { lat: 49.0067, lng: 6.2042, name: 'St. Leo Mangin', infowindow: 'St. Leo Mangin - Born 7/30/1857, Verny, Moselle, France' },
    { lat: 0.7684, lng: 31.0791, name: 'St. Andrew Kaggwa', infowindow: 'St. Andrew Kaggwa - Born c. 1856, Bugangaizi, Kibaale, Uganda' },
    { lat: 46.4990, lng: 11.3530, name: 'St. Joseph Freinademetz', infowindow: 'St. Joseph Freinademetz - Born 4/15/1852, Oies, Bolzano, Italy' },
    { lat: 50.9012, lng: 2.5496, name: 'St. Rémy Isoré', infowindow: 'St. Rémy Isoré - Born 1/22/1852, Bambecque, Nord, France' },
    { lat: 2.4250, lng: 32.3352, name: 'St. Noë Mawaggali', infowindow: 'St. Noë Mawaggali - Born c. 1851, Nkazibaku, Ssingo, Buganda, Uganda' },
    { lat: 45.2327, lng: 9.4122, name: 'St. Frances Xavier Cabrini', infowindow: 'St. Frances Xavier Cabrini - Born 7/15/1850, Sant’Angelo Lodigiano, Lodi, Italy' },
    { lat: 37.9670, lng: -4.4558, name: 'St. Raphaela Mary of the Sacred Heart', infowindow: 'St. Raphaela Mary of the Sacred Heart - Born 3/1/1850, Pedro Abad, Córdoba, Spain' },
    { lat: 40.8506, lng: 14.2696, name: 'St. Filippo Smaldone', infowindow: 'St. Filippo Smaldone - Born 7/27/1848, Naples, Italy' },
    { lat: 47.2119, lng: 8.3641, name: 'St. María Bernarda Bütler', infowindow: 'St. María Bernarda Bütler - Born 5/28/1848, Auw, Aargau, Switzerland' },
    { lat: 41.9300, lng: 2.2539, name: 'St. María del Carmen Sallés Barangueras', infowindow: 'St. María del Carmen Sallés Barangueras - Born 4/9/1848, Vic, Barcelona, Spain' },
    { lat: 42.1773, lng: -1.7498, name: 'St. Ezequiél Moreno y Díaz', infowindow: 'St. Ezequiél Moreno y Díaz - Born 4/9/1848, Alfaro, La Rioja, Spain' },
    { lat: 48.4963, lng: 7.4700, name: 'St. Modeste Andlauer', infowindow: 'St. Modeste Andlauer - Born 5/22/1847, Rosheim, Bas-Rhin, France' },
    { lat: 50.6295, lng: 3.0557, name: 'St. Paul Denn', infowindow: 'St. Paul Denn - Born 4/1/1847, Lille, Nord, France' },
    { lat: 41.9986, lng: -1.6790, name: 'St. Vincenza María López y Vicuña', infowindow: 'St. Vincenza María López y Vicuña - Born 3/24/1847, Cascante, Navarra, Spain' },
    { lat: 44.5901, lng: 11.1836, name: 'St. Clelia Barbieri', infowindow: 'St. Clelia Barbieri - Born 2/13/1847, Le Budrie di Persiceto, Bologna, Italy' },
    { lat: 45.9361, lng: 10.2927, name: 'St. Geltrude Comensoli', infowindow: 'St. Geltrude Comensoli - Born 1/18/1847, Bienno, Brescia, Italy' },
    { lat: 37.3898, lng: -5.9863, name: 'St. Angela of the Cross', infowindow: 'St. Angela of the Cross - Born 1/30/1846, Seville, Spain' },
    { lat: 32.8220, lng: 35.1902, name: 'St. Mariam Baouardy', infowindow: "St. Mariam Baouardy - Born 1/5/1846, I'billin, Ottoman Syria" },
    { lat: 0.6537, lng: 33.6136, name: 'St. Pontian Ngondwe', infowindow: 'St. Pontian Ngondwe - Born c. 1846, Kyaggwe, Buganda, Uganda' },
    { lat: 44.9858, lng: 7.8706, name: 'St. Dominic Savio', infowindow: 'St. Dominic Savio - Born 4/2/1842, Riva di Chieri, Turin, Italy' },
    { lat: 44.0342, lng: 10.1388, name: 'St. Francis Fogolla', infowindow: 'St. Francis Fogolla - Born 10/4/1839, Massa, Italy' },
    { lat: 44.8285, lng: 11.3277, name: 'St. Elias Facchini', infowindow: 'St. Elias Facchini - Born 7/2/1839, Reno Cantese, Ferrara, Italy' },
    { lat: 43.9253, lng: 2.1491, name: 'St. Theodoric Balat', infowindow: 'St. Theodoric Balat - Born 10/23/1858, Albi, France' }
  ];
  var markers = handler.addMarkers(json_array);
});
</script>
  
</div>
<!-- /.page-wrapper -->
